In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from statsmodels.tsa.arima.model import ARIMA
import pandas as pd

In [2]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')
test_data.head()

,Year,Pieces,CPI Mean,Theme_4 Juniors,Theme_Action Wheelers,Theme_Advanced models,Theme_Adventurers,Theme_Agents,Theme_Alpha Team,Theme_Aqua Raiders,...,Set name_{Racer},Set name_{Rattlesnake},Set name_{Salamander},Set name_{Skull},Set name_{Space Shuttle},Set name_{Transport Plane},Set name_{Wild Turkey},Value new (USD),RRP (USD),Value used (USD)
0,2019,6.0,391.299154,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,4.64,39.9,3.87
1,2016,110.0,376.622000,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,38.12,49.9,20.00
2,2023,305.0,436.901846,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,29.88,349.9,16.00
3,1996,31.0,298.323077,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,38.12,220.0,20.00
4,2012,110.0,366.702077,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,38.12,299.9,20.00

# Arima Model

In [7]:
for target in train_data[['Value new (USD)', 'RRP (USD)', 'Value used (USD)']]:

1
1
1

# Linear Regression Model

# Random Forest Model