In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('merged_cpi_lego.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11744 entries, 0 to 11743
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        11744 non-null  int64
 1   Number            11744 non-null  object
 2   Theme             11744 non-null  object
 3   Subtheme          11744 non-null  object
 4   Year              11744 non-null  int64
 5   Set name          11744 non-null  object
 6   Pieces            11744 non-null  float64
 7   RRP (USD)         11744 non-null  float64
 8   Value new (USD)   11744 non-null  float64
 9   Value used (USD)  11744 non-null  float64
 10  CPI Mean          11744 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1009.4+ KB

In [3]:
df.drop(columns=['Unnamed: 0','Number'], inplace=True)
df.head()

,Theme,Subtheme,Year,Set name,Pieces,RRP (USD),Value new (USD),Value used (USD),CPI Mean
0,Basic,Basic,1976,"Basic Building Set, 3+",152.0,27.5,78.41,18.71,204.530769
1,LEGOLAND,LEGOLAND,1976,Hospital,202.0,150.0,38.12,157.50,204.530769
2,LEGOLAND,LEGOLAND,1976,Stage Coach,95.0,50.0,83.61,14.69,204.530769
3,Dacta,Dacta,1976,LEGO Number/Symbol Blocks,100.0,320.0,38.12,20.00,204.530769
4,Dacta,Dacta,1976,Letter Bricks for Wall Board,150.0,480.0,38.12,20.00,204.530769

### Dummy Features

In [5]:
dummy = pd.get_dummies(df[['Theme', 'Subtheme','Set name']])
df = pd.concat([df, dummy], axis=1)
df.drop(columns=['Theme', 'Subtheme','Set name'], inplace=True)
dummy.head()

,Theme_4 Juniors,Theme_Action Wheelers,Theme_Advanced models,Theme_Adventurers,Theme_Agents,Theme_Alpha Team,Theme_Aqua Raiders,Theme_Aquazone,Theme_Architecture,Theme_Art,...,Set name_{Liberty Bell},Set name_{Lighthouse},Set name_{Nascar},Set name_{Racer},Set name_{Rattlesnake},Set name_{Salamander},Set name_{Skull},Set name_{Space Shuttle},Set name_{Transport Plane},Set name_{Wild Turkey}
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### Train Test Splt ###

In [6]:
X = df.drop(columns='Value new (USD)')
y = df['Value new (USD)']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X_train)

       Year  Pieces  RRP (USD)  Value used (USD)    CPI Mean  Theme_4 Juniors  \
6213   2014    64.0       49.9              4.98  373.448769            False
2618   2004     9.0       40.0             20.00  328.507692            False
7687   2016     9.0      189.9             20.00  376.622000            False
5263   2012    83.0      129.9             47.49  366.702077            False
4498   2010   110.0       49.9             20.00  355.897385            False
...     ...     ...        ...               ...         ...              ...
7524   2016   109.0      129.9             32.75  376.622000            False
6441   2014   398.0      499.9             65.06  373.448769            False
7108   2015   110.0      249.9             20.00  373.784923            False
10348  2021   544.0      599.9             78.85  405.587462            False
9079   2019     6.0       39.9              2.77  391.299154            False

       Theme_Action Wheelers  Theme_Advanced models  Theme_Adventurers  \
6213                   False                  False              False
2618                   False                  False              False
7687                   False                  False              False
5263                   False                  False              False
4498                   False                  False              False
...                      ...                    ...                ...
7524                   False                  False              False
6441                   False                  False              False
7108                   False                  False              False
10348                  False                  False              False
9079                   False                  False              False

       Theme_Agents  ...  Set name_{Liberty Bell}  Set name_{Lighthouse}  \
6213          False  ...                    False                  False
2618          False  ...                    False                  False
7687          False  ...                    False                  False
5263          False  ...                    False                  False
4498          False  ...                    False                  False
...             ...  ...                      ...                    ...
7524          False  ...                    False                  False
6441          False  ...                    False                  False
7108          False  ...                    False                  False
10348         False  ...                    False                  False
9079          False  ...                    False                  False

       Set name_{Nascar}  Set name_{Racer}  Set name_{Rattlesnake}  \
6213               False             False                   False
2618               False             False                   False
7687               False             False                   False
5263               False             False                   False
4498               False             False                   False
...                  ...               ...                     ...
7524               False             False                   False
6441               False             False                   False
7108               False             False                   False
10348              False             False                   False
9079               False             False                   False

       Set name_{Salamander}  Set name_{Skull}  Set name_{Space Shuttle}  \
6213                   False             False                     False
2618                   False             False                     False
7687                   False             False                     False
5263                   False             False                     False
4498                   False             False                     False
...                      ...               ...                       ...
7524                   False             False                     False
6441                   False             False                     False
7108                   False             False                     False
10348                  False             False                     False
9079                   False             False                     False

       Set name_{Transport Plane}  Set name_{Wild Turkey}
6213                        False                   False
2618                        False                   False
7687                        False                   False
5263                        False                   False
4498                        False                   False
...                           ...                     ...
7524                        False                   False
6441                        False                   False
7108                        False                   False
10348                       False                   False
9079                        False                   False

[9395 rows x 11651 columns]

### Standarize Data

In [7]:
scaler = preprocessing.StandardScaler()
numeric_features = X_train.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X_train.select_dtypes(include=['object']).columns
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [8]:
train_data = pd.concat([X_train, y_train], axis = 1)
test_data = pd.concat([X_test, y_test], axis = 1)
train_data.to_csv('train_data.csv', index = False)
test_data.to_csv('test_data.csv', index = False)